
#transactions_view, #pointofsale {
  display: none;
}

#card-box tr {display: block; }
#card-box th, #card-box td:first-child{ width: 10px; }
#card-box th, #card-box td:nth-child(2){ width: 150px; }

#cartTable .card-body { 
  display: block; 
  max-height: calc(100vh - 413px);
  min-height: calc(100vh - 431px);
  height:calc(100vh - 385px);
  overflow: auto;
}

#parent { 
  display: block; 
  height: calc(100vh - 215px);
  overflow: auto;
}


.order-box{
background-color: grey;
color: #FFFFFF;
}

#parent .box {
  margin-bottom: 10px;
  text-align: center;
  display: block;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}

#product_img {
  max-height: 80px;
  border-radius: 50%;
  max-width: 100px;
}

#reportrange {
  background: #fff; 
  cursor: pointer; 
  padding: 7px 10px; 
  border: 1px solid #ddd; 
  width: 100%;
  border-radius: 4px;

}

.nobr  { white-space: nowrap;}

#image {
  height: 80px;
}

#print_list {
margin-right: 30px;
}

#product_name {
  height: 40px;
  overflow: hidden;
  border-bottom: 1px solid #f1f1f1;
}
#login,
#paymentModel,
#newCustomer,
#newProduct,
#newCategory,
#Products,
#Categories,
#userModal,
#holdOrdersModal,
#customerModal,
#orderModal,
#settingsModal,
#dueModal,
#Users
{
display:none;
}

#stock{
  max-width: 30px; 
  float: left;
}

#renderHoldOrders,
#renderCustomerOrders
{
height: 460px;
overflow-x: hidden;
overflow-y:scroll
}

.stock {
  font-size: 11px;
}

.sku {
  display: none;
}

.swal2-popup {
  font-size: 1.6rem !important;
}

.del, .prt {
  margin-right: 4px !important;
}

.receipt {
  font-family: 'Share Tech', sans-serif;
}

.print-btn{
  padding: 10px;
  border-radius: 2px;
}

@media  print {
  .receipt {
      font-family: 'Share Tech', sans-serif;
  }

  .print-head{
      display: none;
  }

}

 .chosen-container-single .chosen-single {
   padding-top: 3px;
     height: 33px;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
}
.chosen-container-single .chosen-single span {
    padding-top: 2px;
}
.chosen-container-single .chosen-single div b {
    margin-top: 2px;
}

.chosen-container-active .chosen-single,
.chosen-container-active.chosen-with-drop .chosen-single {
    border-color: #ccc;
    border-color: rgba(82, 168, 236, .8);
    outline: 0;
    outline: thin dotted \9;
    -moz-box-shadow: 0 0 8px rgba(82, 168, 236, .6);
    box-shadow: 0 0 8px rgba(82, 168, 236, .6)
}

 
#productList {
  width: 100%;
}

.action {
  text-align: center;
}

#current_img img,
#current_logo img {
  max-width: 60px;
  max-height: 60px;
  margin-bottom: 10px;
}

#logo img {
  max-height: 50px;
  margin-bottom: 0;
}

.perms {
  display: none;
}

#login {
/*  background: radial-gradient(circle, rgba(153,153,153,1) 0%, rgba(221,221,221,1)  100%); */
/*  background-image: url(../../assets/images/logo.svg);*/
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 999;
}



#quit {
  z-index: 9999;
}

#rmv_logo, #rmv_img {
  display: none;
}

#net_settings_form{
  display: none;
}

.login-box {
    width: 360px;
    margin: 15% auto;
}
.login-page {
   height: 100vh;
    min-height: 100%;
    background:radial-gradient(circle, #81c868 0%, #eee 100%);
}
#load {
  /* width: 500px;
  margin: 300px auto; */
  border: 1px solid #ddd;
  font-size: 16px;
  background: #f1f1f1;
  color: #f2f8fb;
  border-radius: 8px;
  padding: 40px;
  border-top: 0;
  color: #666;
}

#productSales {
  height: calc(100vh - 315px);
/*  border: 1px solid #ddd;*/
  border-radius: 5px;
  overflow:auto;
}
#transactionDetails {
  height: calc(100vh - 315px);
/*  border: 1px solid #ddd;*/
  border-radius: 5px;
  overflow:auto;
}
#transactionList{
  width:100%;
}

#total_sales,
#total_transactions,
#total_items,
#total_products {   
  color: #fff;
  height: 120px;
  border: 1px solid #fff;
  border-radius: 5px;
}

#totals h5 {
  text-align: center;
  margin: 10px;
  color: #fff; 
}

#counter {
  /*text-align: center !important;
  margin-top: 10px;*/
  font-size: 32px;
/*  width: 100%;*/
}

.modal-body {
    max-height: calc(100vh - 143px);
    overflow: auto; 
  }



  .splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
/*  border-radius: 5%;*/
  border: 1px solid #fff;
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
  z-index:9999;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.splash img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  height: auto;
  z-index: 9999;
}

.splash h1 {
/*  color: #fff;*/
  font-size: 2em;
  text-align: center;
  margin-top: 100px; /* Adjust distance between image and text */
}

.content {
  /* Add your actual app content styles here */
  display: none;
}

.splash.hidden {
  animation: fade-out 0.5s ease-in-out forwards;
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

.splash.hidden, .content.shown {
  display: none;
}

.splash.hidden ~ .content.shown {
  display: block;
}
